.row 
  .columns.small-12
    h3 Tarrifs
.row 
  .columns.small-12
    table
      thead
        tr
          td POLs
          td PODs
          td Description
          td Manage
      tbody
        - @line.fesco_ints.each do |fesco_int|
          tr
            td
              ul.no-bullet
                - fesco_int.pols.each do |p|
                  li= Seaport.find_by(code: p).name
            td
              ul.no-bullet
                - fesco_int.pods.each do |p|
                  li= Seaport.find_by(code: p).name
            td
              = render('/fesco_ints/table_fesco_int_tariffs', fesco_int: fesco_int)
            td
              ul
                li= link_to 'Show', line_fesco_int_path(@line, fesco_int)
                li= link_to 'Edit', edit_line_fesco_int_path(@line, fesco_int)
                li= link_to 'Destroy', line_fesco_int_path(@line, fesco_int), :method => :delete, :data => { :confirm => 'Are you sure?' }
