= form_for [@company, @line] do |f|
  - if @line.errors.any?
    #error_explanation
      %h2= "#{pluralize(@line.errors.count, "error")} prohibited this line from being saved:"
      %ul
        - @line.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :content
    = f.text_area :content, rows: 15
  .field
    = f.collection_select :maersk_tariff_id, MaerskTariff.all.order('code ASC'), :id, :code, {}, {class: 'select2'}
  .actions
    = f.submit 'Save'
