h3 Points
table
  thead
    tr
      th Number
      th Seaport
      th Eta
      th Ets
      th Discharge
      th Load
      th Transit time
      th
      th
      th

  tbody
    - @line.points.each do |point|
      tr
        td= point.number
        td= point.seaport
        td= point.eta
        td= point.ets
        td= point.discharge
        td= point.load
        td= point.transit_time
        td= link_to 'Show', point
        td= link_to 'Edit', edit_point_path(point)
        td= link_to 'Destroy', point, :method => :delete, :data =>   confirm=('Are you sure?' ) 
