%h1 Listing lines

%table
  %tr
    %th Name
    %th Code
    %th
    %th
    %th

  - @lines.each do |line|
    %tr
      %td= line.name
      %td= line.code
      %td= link_to 'Show', line
      %td= link_to 'Edit', edit_line_path(line)
      %td= link_to 'Destroy', line, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Line', new_company_line_path(@company)
