.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to @line.company.try(:name), company_path(@line.company)
      li.current= @line.name
.row 
  .columns.small-12
    ul.menu
      li
        h4= "Line: #{@line.name} (#{@line.code})"
      li= link_to 'Edit', edit_line_path(@line)
      li= link_to 'Add Tariff', new_line_fesco_int_path(@line) if @line.company.code == 'fesco'
.row 
  .columns.small-12
    = markdown @line.content
    .button-group
      = link_to 'Show Points', line_points_path(@line), class: 'button secondary'
      = link_to 'Add a Point', new_line_point_path(@line), class: 'button'

    
= render "point" if @line.points.any?

= render "tariffs", maersk_tariff: @line.maersk_tariff if @line.maersk_tariff

- if @line.company.code == 'fesco'
  = render "fesco_tariff"

