= form_for(@maersk_tariff) do |f|
  - if @maersk_tariff.errors.any?
    #error_explanation
      h2
        = pluralize(@maersk_tariff.errors.count, "error")
        |  prohibited this maersk_tariff from being saved:
      ul
        - @maersk_tariff.errors.full_messages.each do |message|
          li
            = message
  .row
    .large-6.columns
      = f.text_field :code, placeholder: 'Code'
    .large-6.columns
      = f.text_field :currency, placeholder: 'Currency'
  .row
    .large-6.columns
      p From Regions
      = f.collection_select :from_region_ids, Region.all.order('name ASC'), :id, :name, {}, {placeholder: 'from', multiple: true, class: 'select2'}
    .large-6.columns
      p To Regions
      = f.collection_select :to_region_ids, Region.all.order('name ASC'), :id, :name, {}, {multiple: true, class: 'select2'}
  hr
  .row
    .large-12.columns
      = f.fields_for :rates do |builder|
        = render 'rate_fields', f: builder
      = link_to_add_fields "Add Rate", f, :rates
  .row
    .large-12.columns
      .actions
        = f.submit 'Save', class: 'button'
