.row.fesco_int_tariff
  .large-5.columns
    = f.collection_select :from_region_id, Region.all.order('name ASC'), :id, :name, {}, {class: 'select2'}
  .large-5.columns
    = f.collection_select :to_region_id, Region.all.order('name ASC'), :id, :name, {}, {class: 'select2'}
  .large-2.columns
    = f.hidden_field :_destroy
    = link_to "Remove", '#', class: "remove_fields"
