.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to 'Companies', companies_path
      li= link_to 'Maersk', company_path(Company.find_by(code: 'Maersk'))
      li.current Maersk Tariffs

h1 Maersk Tariffs
table
  thead
    tr
      th Trade
      th Currency
      th 20DV
      th 40DV
      th 40HC
      th 45HC
      th 20REEF
      th 40REEF
      th[colspan="3"]
  tbody
    - @maersk_tariffs.each do |maersk_tariff|
      tr
        td= "#{maersk_tariff.from_region_names} to #{maersk_tariff.to_region_names} (#{maersk_tariff.code} - #{maersk_tariff.from_region_codes} to #{maersk_tariff.to_region_codes})"
        td= maersk_tariff.currency
        th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '20DV')).try(:sbf)
        Th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '40DV')).try(:sbf)
        th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '40HC')).try(:sbf)
        th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '45HC')).try(:sbf)
        th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '20REEF')).try(:sbf)
        th= maersk_tariff.rates.find_by(container_id: Container.find_by(code: '40REEF')).try(:sbf)
        td
          = link_to 'Edit', edit_maersk_tariff_path(maersk_tariff)
        td
          = link_to 'Destroy', maersk_tariff, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Maersk tariff', new_maersk_tariff_path
