.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to 'Companies', companies_path
      li= link_to 'Maersk Tariffs', maersk_tariffs_path

h1= "Maersk Tariff Code: #{@maersk_tariff.code}"
p
  strong 
    | From: 
  span= @maersk_tariff.from_region_names
p 
  strong 
    | To: 
  span= @maersk_tariff.to_region_names
p
  strong
    | Currency: 
  span= @maersk_tariff.currency

table
  thead
    tr
      th Container
      th SBF
  tbody
    - @maersk_tariff.rates.each do |rate|
      tr
        td= rate.container.try(:code)
        td= rate.sbf

.button-group
  = link_to 'Edit', edit_maersk_tariff_path(@maersk_tariff), class: 'button'
  = link_to 'Back', maersk_tariffs_path, class: 'button'
