= form_for [@line, @point] do |f|
  - if @point.errors.any?
    #error_explanation
      h2= "# pluralize(@point.errors.count, 'error')  prohibited this point from being saved:"
      ul
        - @point.errors.full_messages.each do |msg|
          li= msg

  .row
    .large-10.columns
      .bla
        = f.select :seaport, Seaport.all.map {|p| [p.code_name_country, p.code] }, {prompt: ""}, {class: 'select2'}
    .large-2.columns
      = f.number_field :number, placeholder: 'Number', type: 'number'
  hr
  .row
    .large-3.columns
      = f.text_field :eta, placeholder: 'ETA'
    .large-3.columns
      = f.text_field :ets, placeholder: 'ETS'
    .large-3.columns
      = f.number_field :transit_time, placeholder: 'Transit Time'
    .large-3.columns
      = f.check_box :load
      = f.label :load
      = f.check_box :discharge
      = f.label :discharge 
  hr
  .actions
    = f.submit 'Save', class: 'button'
