.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to @line.company.try(:name), company_path(@line.try(:company))
      li= link_to @line.name, line_path(@line)
      li.current Points

h1= @line.code_name
p Listing points
hr
table
  thead
    tr
      th Number
      th Seaport
      th Eta
      th Ets
      th Discharge
      th Load
      th Transit time
      th
      th
      th

  tbody
    - @points.each do |point|
      tr
        td= point.number
        td= point.seaport
        td= point.eta
        td= point.ets
        td= point.discharge
        td= point.load
        td= point.transit_time
        td= link_to 'Show', point
        td= link_to 'Edit', edit_point_path(point)
        td= link_to 'Destroy', point, :method => :delete, :data =>   confirm=('Are you sure?' ) 

br

= link_to 'New Point', new_line_point_path(@line), class: 'button'
