.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to @line.company.try(:name), company_path(@line.company)
      li= link_to @line.name, line_path(@line)

h1 New point

= render 'form'

= link_to 'Back', line_points_path(@line), class: 'button'
