.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to @point.line.try(:company).try(:name), company_path(@point.try(:line).try(:company))
      li= link_to @point.line.try(:name), line_path(@point.try(:line))
      li= link_to 'Points', line_points_path(@point.try(:line))

p#notice= notice

p
  b Number:
  = @point.number
p
  b Seaport:
  = @point.seaport
p
  b Eta:
  = @point.eta
p
  b Ets:
  = @point.ets
p
  b Discharge:
  = @point.discharge
p
  b Load:
  = @point.load
p
  b Transit time:
  = @point.transit_time
p
  b Line:
  = @point.line.try(:code)

.button-group
  - if @point.previous
    = link_to 'Previous', point_path(@point.previous), class: 'button success'
  = link_to 'Edit', edit_point_path(@point), class: 'button'
  = link_to 'Back', line_points_path(@point.line), class: 'button'
  - if @point.next
    = link_to 'Next', point_path(@point.next), class: 'button success'
  - else 
    = link_to 'Add New', new_line_point_path(@point.line), class: 'button success'
