= form_for @fesco_int_tariff do |f|
  - if @fesco_int_tariff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fesco_int_tariff.errors.count, "error")} prohibited this fesco_int_tariff from being saved:"
      %ul
        - @fesco_int_tariff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :fesco_int
    = f.text_field :fesco_int
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :containers
    = f.text_area :containers
  .field
    = f.label :freight
    = f.text_field :freight
  .field
    = f.label :baf
    = f.text_field :baf
  .actions
    = f.submit 'Save'
