%h1 Listing fesco_int_tariffs

%table
  %thead
    %tr
      %th Fesco int
      %th Status
      %th Owner
      %th Containers
      %th Freight
      %th Baf
      %th
      %th
      %th

  %tbody
    - @fesco_int_tariffs.each do |fesco_int_tariff|
      %tr
        %td= fesco_int_tariff.fesco_int
        %td= fesco_int_tariff.status
        %td= fesco_int_tariff.owner
        %td= fesco_int_tariff.containers
        %td= fesco_int_tariff.freight
        %td= fesco_int_tariff.baf
        %td= link_to 'Show', fesco_int_tariff
        %td= link_to 'Edit', edit_fesco_int_tariff_path(fesco_int_tariff)
        %td= link_to 'Destroy', fesco_int_tariff, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fesco int tariff', new_fesco_int_tariff_path
