%p#notice= notice

%p
  %b Fesco int:
  = @fesco_int_tariff.fesco_int
%p
  %b Status:
  = @fesco_int_tariff.status
%p
  %b Owner:
  = @fesco_int_tariff.owner
%p
  %b Containers:
  = @fesco_int_tariff.containers
%p
  %b Freight:
  = @fesco_int_tariff.freight
%p
  %b Baf:
  = @fesco_int_tariff.baf

= link_to 'Edit', edit_fesco_int_tariff_path(@fesco_int_tariff)
\|
= link_to 'Back', fesco_int_tariffs_path
