%h1 Listing fesco_int_rates

%table
  %tr
    %th Status
    %th Owner
    %th Freight
    %th Baf
    %th
    %th
    %th

  - @fesco_int_rates.each do |fesco_int_rate|
    %tr
      %td= fesco_int_rate.status
      %td= fesco_int_rate.owner
      %td= fesco_int_rate.freight
      %td= fesco_int_rate.baf
      %td= link_to 'Show', fesco_int_rate
      %td= link_to 'Edit', edit_fesco_int_rate_path(fesco_int_rate)
      %td= link_to 'Destroy', fesco_int_rate, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fesco int rate', new_fesco_int_rate_path
