%p#notice= notice

%p
  %b Status:
  = @fesco_int_rate.status
%p
  %b Owner:
  = @fesco_int_rate.owner
%p
  %b Freight:
  = @fesco_int_rate.freight
%p
  %b Baf:
  = @fesco_int_rate.baf

= link_to 'Edit', edit_fesco_int_rate_path(@fesco_int_rate)
\|
= link_to 'Back', fesco_int_rates_path
