= form_for @tariff do |f|
  - if @tariff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tariff.errors.count, "error")} prohibited this tariff from being saved:"
      %ul
        - @tariff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :line_id
    = f.collection_select :line_id, Line.all.order('name ASC'), :id, :code
  .field
    = f.label :pol_ids
    = f.collection_select :pol_ids, Seaport.all.order('name ASC'), :id, :name, {}, {multiple: true}
  .field
    = f.label :pod_ids
    = f.collection_select :pod_ids, Seaport.all.order('name ASC'), :id, :name, {}, {multiple: true}

      
  .actions
    = f.submit 'Save'
