%h1 Listing tariffs

%table
  %tr
    %th
    %th
    %th
    %th

  - @tariffs.each do |tariff|
    %tr
      %td= tariff.line.company.name if tariff.line.present?
      %td= tariff.line.name if tariff.line.present?
      %td= tariff.pol_names
      %td= tariff.pod_names
      %td= link_to 'Show', tariff
      %td= link_to 'Edit', edit_tariff_path(tariff)
      %td= link_to 'Destroy', tariff, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tariff', new_tariff_path
