%p#notice= notice

.row
  .columns.small-12
    %p= @tariff.line.name
    %p= @tariff.pols_name
    %p= @tariff.pods_name

    = link_to 'Edit', edit_tariff_path(@tariff)
    \|
    = link_to 'Back', tariffs_path
