= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :content
    = f.text_area :content, rows: 20
  .field
    = f.label :logo
    = f.text_field :logo
  .actions
    = f.submit 'Save'
