.panel
  ul.menu
    li
      h3= "#{line.name} (#{line.code})"
    li= link_to 'Edit', edit_line_path(line)
    li= link_to 'Destroy', line_path(line), :method => :delete, :data => { :confirm => 'Are you sure?' }
    li= link_to 'Show', line_path(line)
        
