%h1 Listing companies

%table
  %tr
    %th Name
    %th Code
    %th Web
    %th Logo
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.code
      %td= link_to company.web, company.web
      %td= image_tag company.logo, class: "logo th"
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
