.row 
  .columns.small-12
    %ul.breadcrumbs
      %li= link_to "Home", root_path
      %li= link_to "Companies", companies_path
      %li.current= @company.code

.row
  .columns.small-12.medium-7.large-9
    %h1= @company.name
    %hr
.row
  .columns.small-12.medium-7.large-9
    = markdown @company.content
  .columns.small-12.medium-5.large-3
    %p= image_tag @company.logo, class: "logo th"
    %p= link_to @company.web, @company.web
    %ul.menu
      %li= link_to 'Edit', edit_company_path(@company)
      %li= link_to 'Back', companies_path

.row
  .columns.small-12
    - if @company.lines.any?
      %h3 Lines
      %hr
      - @company.lines.each do |line|
        = render 'line', line: line

.row
  .columns.small-12
    = link_to "Add New Line", new_company_line_path(@company), class: "button"


