= form_for(@seaport) do |f|
  - if @seaport.errors.any?
    #error_explanation
      %h2
        = pluralize(@seaport.errors.count, "error")
        prohibited this seaport from being saved:
      %ul
        - @seaport.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :utc
    = f.text_field :utc
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .actions
    = f.submit
