%h1 Listing seaports
%table
  %thead
    %tr
      %th Name
      %th Country
      %th Code
      %th Loc
      %th Utc
      %th Phone
      %th Web
      %th{:colspan => "3"}
  %tbody
    - @seaports.each do |seaport|
      %tr
        %td= seaport.name
        %td= seaport.country
        %td= seaport.code
        %td= seaport.loc
        %td= seaport.utc
        %td= seaport.phone
        %td= seaport.web
        %td= link_to 'Show', seaport
        %td= link_to 'Edit', edit_seaport_path(seaport)
        %td= link_to 'Destroy', seaport, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Seaport', new_seaport_path
