%h1 Listing seaports
%p= link_to 'New Seaport', new_seaport_path
%table
  %thead
    %tr
      %th Name
      %th Country
      %th Code
      %th Utc
      %th Phone
      %th Latitude
      %th Longitude
      %th{:colspan => "2"} Manage
  %tbody
    - @seaports.order("code ASC").each do |seaport|
      %tr
        %td= link_to seaport.name, seaport
        %td= seaport.country
        %td= seaport.code
        %td= seaport.utc
        %td= seaport.phone
        %td= seaport.latitude
        %td= seaport.longitude
        %td= link_to 'Edit', edit_seaport_path(seaport)
        %td= link_to 'Destroy', seaport, method: :delete, data: { confirm: 'Are you sure?' }
%br/

