%p#notice= notice
%p
  %strong Name:
  = @seaport.name
%p
  %strong Country:
  = @seaport.country
%p
  %strong Code:
  = @seaport.code
%p
  %strong Utc:
  = @seaport.utc
%p
  %strong Phone:
  = @seaport.phone
%p
  %strong Web:
  = @seaport.web
%p
  %strong Longitude:
  = @seaport.longitude
%p
  %strong Latitude:
  = @seaport.latitude
= link_to 'Edit', edit_seaport_path(@seaport)
|
\#{link_to 'Back', seaports_path}
