.row.fesco_int_tariff
  .large-2.columns
    = f.select :status, ["Full", "Empty"]
  .large-2.columns
    = f.select :owner, ["SOC","COC"]
  #containers.large-3.columns
    = f.select :containers, ["20'", "20'DC", "20'RF", "40'", "40'HC", "40'RF"], {prompt: ""}, {multiple: true, class: "select2"}
  .large-2.columns
    = f.text_field :freight
  .large-2.columns
    = f.text_field :baf
  .large-1.columns
    = f.hidden_field :_destroy
    = link_to "Remove", '#', class: "remove_fields"

