= form_for [@line, @fesco_int] do |f|
  - if @fesco_int.errors.any?
    #error_explanation
      h2= "#{pluralize(@fesco_int.errors.count, "error")} prohibited this fesco_int from being saved:"
      ul
        - @fesco_int.errors.full_messages.each do |msg|
          li= msg
  .row
    = f.hidden_field :line_id, value: @line.try(:id)
    .large-6.columns
      h3 POLS
      = f.select :pols, @seaports, {prompt: ""}, {multiple: true, class: 'select2'}
    .large-6.columns
      h3 PODS
      = f.select :pods, @seaports, {prompt: ""}, {multiple: true, class: 'select2'}

  hr
  .row
    .large-2.columns
      p Status
    .large-2.columns
      p Owner
    .large-3.columns
      p Containers
    .large-2.columns
      p Freight
    .large-2.columns
      p Baf
  .row
    .large-12.columns
      = f.fields_for :fesco_int_tariffs do |builder|
        = render 'fesco_int_tariff_fields', f: builder
      = link_to_add_fields "Add Tariff", f, :fesco_int_tariffs

  .actions
    = f.submit 'Save'
