table
  thead
    tr
      td Status
      td Owner
      td Containers
      td Freight
      td BAF
  tbody
    - fesco_int.fesco_int_tariffs.each do |t|
      tr
        td= t.status
        td= t.owner
        td
          - t.containers.each do |c|
            = "#{c} "
        td= t.freight
        td= t.baf

