%h1 Listing fesco_ints

%table
  %thead
    %tr
      %th Line
      %th Pols
      %th Pods
      %th Status
      %th Owner
      %th Containers
      %th Freight
      %th Baf
      %th
      %th
      %th

  %tbody
    - @fesco_ints.each do |fesco_int|
      %tr
        %td= fesco_int.line
        %td= fesco_int.pols
        %td= fesco_int.pods
        %td
        %td
        %td
        %td
        %td
        %li= link_to 'Show', line_fesco_int_path(@line, fesco_int)
        %td= link_to 'Edit', edit_line_fesco_int_path(@line, fesco_int)
        %td= link_to 'Destroy', line_fesco_int_path(@line, fesco_int), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-# = link_to 'New Fesco int', new_fesco_int_path
