.row 
  .columns.small-12
    ul.breadcrumbs
      li= link_to "Home", root_path
      li= link_to @fesco_int.try(:line).try(:company).try(:name), company_path(@line.company)
      li= link_to @fesco_int.try(:line).try(:name), line_path(@fesco_int.line)
      li.current Tariff

.row 
  .columns.small-11
    p= "Line: #{@fesco_int.line.try(:name)} (#{@fesco_int.line.try(:code)})"
  .columns.small-1
    = link_to 'Edit', edit_line_fesco_int_path(@line, @fesco_int)
 
.row 
  .columns.small-3
    h5 POLS:
    ul.no-bullet
      - @pols.each do |pol|
        li = pol
  .columns.small-3
    h5 PODS:
    ul.no-bullet
      - @pods.each do |pod|
        li = pod
  .columns.small-6
    table
      thead
        tr
          td Status
          td Owner
          td Containers
          td Freight
          td BAF
      tbody
        - @fesco_int.fesco_int_tariffs.each do |t|
          tr
            td= t.status
            td= t.owner
            td
              - t.containers.each do |c|
                = "#{c} "
            td= t.freight
            td= t.baf

