<%= form_for(@rate) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maersk_tariff_id %><br>
    <%= f.text_field :maersk_tariff_id %>
  </div>
  <div class="field">
    <%= f.label :container_id %><br>
    <%= f.text_field :container_id %>
  </div>
  <div class="field">
    <%= f.label :sbf %><br>
    <%= f.text_field :sbf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
