<p id="notice"><%= notice %></p>

<h1>Listing Rates</h1>

<table>
  <thead>
    <tr>
      <th>Maersk tariff</th>
      <th>Container</th>
      <th>Sbf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.maersk_tariff %></td>
        <td><%= rate.container %></td>
        <td><%= rate.sbf %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_rate_path %>
