<p id="notice"><%= notice %></p>

<p>
  <strong>Maersk tariff:</strong>
  <%= @rate.maersk_tariff %>
</p>

<p>
  <strong>Container:</strong>
  <%= @rate.container %>
</p>

<p>
  <strong>Sbf:</strong>
  <%= @rate.sbf %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
