.top-bar
  .top-bar-left
    ul.dropdown.menu data-dropdown-menu="" 
      li.menu-text Shipper Savers
  .top-bar-right
    ul.menu
      li= link_to :seaports,  seaports_path
      li= link_to :companies, companies_path
