doctype html
html lang="en" 
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title= content_for?(:title) ? yield(:title) : "Shipper Savers"

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    = csrf_meta_tags
  body
    = render "layouts/topbar"
    - if notice.present?
      .alert-box.success.radius data-alert=""
        = notice
        a.close href="#" ×
    .section
      .row
        .columns.small-12
          = yield
    = javascript_include_tag "application"
